body{
    font-family: "Poppins"
}
/* {
    font-family: "Noto Serif"
} */
@media screen and (min-width: 1280px){
    header div{
        max-width: 1920px; margin: 0 auto;
    }
    section:not(:last-of-type){
        max-width: 1800px; margin: 0 auto;
    }
    footer div{
        max-width: 1300px; margin: 0 auto; padding: 110px 0 70px;
    }
    header{
        background: url('../images/bg_01.png') left top / cover no-repeat;
    }
    header div:first-child{
        display: flex; justify-content: space-between; align-items: center;
    }
    header div:first-child > a:first-of-type{
        padding: 0 40px;
    }
    header div:first-child > a:last-of-type{
        padding: 0 40px;
    }
    header div:first-child nav{
        width: 89.58%; background-color: #ed242e; position: relative; padding: 35px 0;
        display: flex; justify-content: center; align-items: center;
    }
    header div:first-child nav ul:first-child{
        padding-right: 9%;
    }
    header div:first-child nav ul:last-child{
        padding-left: 9%;
    }
    header div:first-child nav ul li{
        display: inline-block; 
    }
    header div:first-child nav ul li a{
        font-size: 17px; font-weight: 400; color: #fef6fc;
    }
    header div:first-child nav ul:first-child li:not(:first-child){
        padding-left: 40px;
    }
    header div:first-child nav ul:last-child li:not(:last-child){
        padding-right: 40px;
    }
    header div:first-child nav img{
        position: absolute; left: 50%; top: 0; margin-left: -79px;
    }
    header > div:last-child{
        position: relative; padding: 235px 0 310px; 
    }
    header div:last-child > a:nth-of-type(-n+2){
        position: absolute; left: 0; top: 50%; margin-top: -120px;
    }
    header div:last-child > a:last-of-type{
        left: 100%; margin-left: -72px; 
    }
    header div:last-child div{
        max-width: 1000px; margin: 0 auto;
    }
    header div:last-child h2{
        font-size: 89px; font-weight: 700; color: #fef6fc; line-height: 80px; margin-bottom: 90px;
    }
    header div:last-child p > a{
        display: inline-block; font-size: 17px; font-family: 400; width: 205px; height: 50px;
        text-align: center; line-height: 50px;
    }
    header div:last-child p > a:first-of-type{
        background-color: #ed242e; color: #fef6fc; margin-right: 20px;
    }
    header div:last-child p > a:last-of-type{
        background-color: #fef6fc; color: #00132b;
    }
    footer{
        background-color: #111111;
    }
    footer div{
        display: flex; justify-content: space-between; align-items: flex-start; color: #fefefd;
    }
    footer div ul:nth-child(2){
        width: 26.15%;
    }
    footer div ul:nth-child(3){
        width: 20.76%;
    }
    footer div ul:nth-child(3) li{
        margin-bottom: 15px;
    }
    footer div ul:nth-child(3) li img{
        float: left; padding-right: 15px;
    }
    footer div ul:not(:last-child){
        padding-right: 55px; 
    }
    footer div ul li:first-child{
        font-size: 24px; font-weight: 700; line-height: 30px; margin-bottom: 30px;
    }
    footer div ul li > p{
        font-size: 17px; font-weight: 400; line-height: 31px;
    }
    footer > p{
        font-size: 17px; font-weight: 400; line-height: 32px; color: #fefefd;
        max-width: 800px; margin: 0 auto; text-align: center; padding: 25px 0 35px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
}