@media screen and (min-width: 1280px){
    section:first-of-type{
        max-width: 1600px; margin: 0 auto; position: relative;
    }
    section:first-of-type > div{
        position: absolute; left: 0; top: -140px; padding: 90px 180px 55px 100px;
        box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); background-color: #ffffff;
        border-radius: 70px; display: flex; justify-content: space-between; align-items: center;
    }
    section:first-of-type div h3{
        font-size: 45px; font-weight: 700; color: #081419; margin-bottom: 20px; line-height: 30px;
    }
    section:first-of-type div span{
        display: inline-block; width: 93px; height: 11px; background-color: #ed1c24;
        border-radius: 6px; margin-bottom: 45px;
    }
    section:first-of-type div p{
        font-size: 17px; font-weight: 400; color: #081419; line-height: 30px;
        margin-bottom: 60px; padding-right: 8%;
    }
    section:first-of-type div a{
        display: inline-block; width: 275px; height: 75px; background-color: #05254d;
        font-size: 17px; font-weight: 700; color: #ffffff; text-align: center; line-height: 75px;
    }
    section:nth-of-type(2){
        padding-top: 600px; max-width: 1600px; margin: 0 auto;
    }
    section:nth-of-type(2) > div{
        display: flex; justify-content: center; align-items: center;
    }
    section:nth-of-type(2) > div img{
        padding-left: 3%;
    }
    section:nth-of-type(2) > div > div{
        padding: 0 5% 0 8%; width: 30%;
    }
    section:nth-of-type(2) > div h3{
        font-size: 45px; font-weight: 700; color: #081419; line-height: 40px; margin-bottom: 50px;
    }
    section:nth-of-type(2) > div p{
        font-size: 17px; font-weight: 400; color: #081419; line-height: 30px; margin-bottom: 40px; padding-right: 0%;
    }
    section:nth-of-type(2) > div a{
        display: inline-block; width: 275px; height: 75px; background-color: #05254d;
        font-size: 17px; font-weight: 700; color: #ffffff; text-align: center; line-height: 75px;
    }
    section:nth-of-type(3){
        padding-top: 120px; text-align: center; position: relative;
    }
    section:nth-of-type(3) > a{
        position: absolute; left: 50%; top: 95%; 
    }
    section:nth-of-type(3) > a:first-of-type{
        margin-left: -113px; 
    }
    section:nth-of-type(3) > a:last-of-type{
        margin-left: 20px;
    }
    section:nth-of-type(3) h3{
        font-size: 45px; font-weight: 700; color: #1b1b1b; line-height: 30px; margin-bottom: 20px;
    }
    section:nth-of-type(3) p{
        font-size: 17px; font-weight: 400; color: #1b1b1b; line-height: 30px; margin-bottom: 50px;
    }
    section:nth-of-type(3) ul{
        background: url('../images/bg_02.png') center / 100% 100% no-repeat;
        /* left top / cover no-repeat / contain */ 
        padding: 200px 260px 250px 260px; box-sizing: border-box; 
    }
    section:nth-of-type(3) ul:after{
        content: ''; display: block; clear: both; 
    }
    section:nth-of-type(3) ul li{
        float: left; width: 31.33%; background-color: #fef6fc; margin: 0 1%;
        padding: 55px 40px 40px 40px; box-sizing: border-box; border-radius: 25px;
        position: relative;
    }
    section:nth-of-type(3) ul li img{
        display: inline-block; margin-bottom: 10px;
    }
    section:nth-of-type(3) ul li figcaption dl dt{
        font-size: 17px; font-weight: 700; color: #0d0e0e; line-height: 30px; margin-bottom: 15px;
    }
    section:nth-of-type(3) ul li figcaption dl dd{
        font-size: 17px; font-weight: 400; color: #0d0e0e; line-height: 30px; letter-spacing: -0.5px;
    }
    section:nth-of-type(3) ul li a{
        position: absolute; left: 50%; top: 110%; margin-left: -87.5px;
        display: inline-block; font-size: 15.5px; font-weight: 700; color: #fefefd;
        width: 175px; height: 50px; background-color: #05254d; text-align: center; line-height: 50px;
    }
    section:nth-of-type(3) ul li:nth-of-type(2) a{
        background-color: #ed1c24;
    }
    section:nth-of-type(4){
        padding-top: 190px; text-align: center;
    }
    section:nth-of-type(4) h3{
        font-size: 45px; font-weight: 700; color: #1b1b1b; line-height: 30px; margin-bottom: 20px;
    }
    section:nth-of-type(4) p{
        font-size: 17px; font-weight: 400; color: #1b1b1b; line-height: 30px;
        max-width: 1000px; margin: 0 auto 50px;
    }
    section:nth-of-type(4) ul:after{
        content: ''; display: block; clear: both;
    }
    section:nth-of-type(4) ul li{
        float: left; width: 32.33%; margin: 0 0.5%; position: relative;
        padding: 25px 25px 80px 25px; box-sizing: border-box;
        background-color: #ffffff; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    section:nth-of-type(4) ul li figure img{
        width: 100%; display: block; margin-bottom: 55px;
    }
    section:nth-of-type(4) ul li a{
        display: inline-block; font-size: 16px; font-weight: 700; color: #fefefd; width: 175px; height: 50px;
        background-color: #ed1c24; text-align: center; line-height: 50px; position: absolute;
        left: 50; top: 25%; margin-left: -87.5px; 
    }
    section:nth-of-type(4) ul li figcaption dl dt{
        font-size: 30px; font-weight: 700; color: #151515; margin-bottom: 20px;
    }
    section:nth-of-type(4) ul li figcaption dl dd{
        font-size: 17px; font-weight: 400; color: #151515; line-height: 30px; 
    }
    section:nth-of-type(4) ul li > img{
        position: absolute; left: 50%; top: 94%; margin-left: -40px;
    }
    section:nth-of-type(5){
        padding-top: 125px; text-align: center; position: relative;
    }
    section:nth-of-type(5) > img:first-of-type{
        position: absolute; left: 5%; top: 110%;
    }
    section:nth-of-type(5) > img:last-of-type{
        position: absolute; left: 84%; top: 48%;
    }
    section:nth-of-type(5) h3{
        font-size: 45px; font-weight: 700; color: #111111; margin-bottom: 110px;
    }
    section:nth-of-type(5) ul{
        max-width: 1260px; margin: 0 auto;
    }
    section:nth-of-type(5) ul:after{
        content: ''; display: block; clear: both;
    }
    section:nth-of-type(5) ul li{
        float: left; width: 48%; margin: 0 1%;  padding: 95px 50px 50px 50px; box-sizing: border-box;
        position: relative; background-color: #ffffff; box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    section:nth-of-type(5) ul li > img{
        position: absolute; top: -55.5px; left: 50%; margin-left: -55.5px;
    }
    section:nth-of-type(5) ul li dl dt{
        font-size: 20px; font-weight: 700; color: #081419; line-height: 30px; margin-bottom: 30px;
    }
    section:nth-of-type(5) ul li dl dd:first-of-type{
        font-size: 17px; font-weight: 400; color: #081419; line-height: 30px; margin-bottom: 50px;
    }
    section:nth-of-type(6){
        padding-top: 140px; text-align: center; 
    }
    section:nth-of-type(6) h3{
        font-size: 45px; font-weight: 700; color: #111111; margin-bottom: 75px;
    }
    section:nth-of-type(6) > div{
        background: url('../images/bg_03.png') left top / cover no-repeat; padding: 85px 0 50px;
    }
    section:nth-of-type(6) > div > div{
        max-width: 1100px; margin: 0 auto;
    }
    section:nth-of-type(6) > div > div label{
        display: none;
    }
    section:nth-of-type(6) > div > div input[type='email']{
        width: 100%; height: 90px; line-height: 90px; background-color: transparent; border: none;
        border: 1px solid #eef3f4; border-radius: 45px; padding: 0 25px; box-sizing: border-box;
        font-size: 22px; font-weight: 400; color: #fefefd; margin-bottom: 35px;
    }
    section:nth-of-type(6) > div > div input::placeholder{
        font-size: 18px; font-weight: 400; color: #fefefd;
    }
    section:nth-of-type(6) > div > div button[type='submit']{
        display: inline-block; border: none; width: 400px; height: 80px; background-color: #05254d;
        font-size: 21px; font-weight: 700; color: #fefefd; border-radius: 40px;
    }
}